body {
	background-color: hsl(30, 38%, 92%);
	display: table;
	height: 100%;
	width: 100%;
	margin: 0;
	text-align: center;
}

html {
	height: 100%;
}

.cart-btn {
	background: hsl(158, 36%, 37%);
	border-radius: 10px;
	color: #ffffff;
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	padding: 12px 0;
	text-align: center;
	text-decoration: none;
}

.cart-btn:hover {
  background: rgb(26, 64, 49);
  text-decoration: none;
}

.cart-logo {
	color: white;
	height: 1.2rem;
	position: relative;
	top: 2px;
	padding-right: 10px;
}

.cart-txt {
	position: relative;
	bottom: 3px;
}

.center-container {
	display: table-cell;
	vertical-align: middle;
}

.previous-price {
	color: hsl(228, 12%, 48%);
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: .8rem;
	margin-left: 15px;
	position: relative;
	bottom: 7px;
	text-decoration: line-through;
}

.pre-title {
	color: hsl(228, 12%, 48%);
	font-family: 'Montserrat', sans-serif;
	font-size: 0.75rem;
	font-weight: normal;
	letter-spacing: .35rem;
	margin-top: 30px;
}

.product-descript-div {
	background-color: white;
	border-radius: 0 10px 10px 0;
	display: inline-block;
	font-size: 1rem;
	text-align: left;
	padding-left: 30px;
	padding-right: 30px;
	height: 450px;
	width: 240px;
	vertical-align: top;
}

.product-img {
	border-radius: 10px 0 0 10px;
	width: 300px;
}

.product-para {
	color: hsl(228, 12%, 48%);
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 1.5;

}

.product-title {
	color: hsl(212, 21%, 14%);
	font-family: 'Fraunces', serif;
	line-height: 1;

}

.retail-price {
	color: hsl(158, 36%, 37%);
	display: inline-block;
	font-family: 'Fraunces', serif;
}

.subbody {
	font-size: 0;		/*Trick to remove space between two inline-block elements*/
	margin: auto;
	width: 600px;
}